
    <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
    
        <form action="">
            <h3>Register here</h3>
            <span>Fullname</span>
            <input type="text" name="fullname" class="box" placeholder="Enter your fullname" id="">
            <span>Username</span>
            <input type="text" name="username" class="box" placeholder="Enter your username" id="">
            <span>Email</span>
            <input type="text" name="email" class="box" placeholder="Enter your email" id="">
            <div class="checkbox">
                 <span>Gender: 
                  <span>Male</span>
                  <input type="radio" name="gender" id="">
                   <span>Female</span>
                  <input type="radio" name="gender" id="">
                   <span>Others</span>
                  <input type="radio" name="gender" id="">
                </span> 
        </div><span>Create password</span>
        <input type="password" name="pwd1" class="box" placeholder="password must be atleast 8 charactors" id="">
        <span>Confirm Password</span>
        <input type="password" name="pwd2" class="box" placeholder="enter your password" id="">
        <input type="submit" value="sign up" class="btn">
        <p>I already have an account  <a href="#">Sign in</a></p>
    </form>
    </div>


